body {
 background : #ff0080;
 text-align : center;
 margin : 50px;
}
div {
 color : rgb(81,68,72);
 background : rgb(0,128,255);
 width : 400px;
 border : 3px black solid;
}
h1 {
 margin : 20px;
 border : 2px solid red;
 background : rgb(255,255,155);
} 
